.content-container {
  .contact-container {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: orange;
    transition: all 0.5s ease-in-out;
    .form {
      position: absolute;
      top: 30%;
      left: 10%;
      display: flex;
      flex-direction: column;
      width: 80%;
      input {
        width: 100%;
        margin-top: 10px;
        text-indent: 10px;
        border-radius: 5px;
        height: 50px;
      }
    }
  }
}
