.content-container {
  .contact-container {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: orange;
    transition: all 0.5s ease-in-out;
    .form {
      position: absolute;
      top: 30%;
      left: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;

      animation: floatIn 0.5s ease-in-out forwards;
      input {
        width: 100%;
        margin-top: 10px;
        text-indent: 10px;
        // border-radius: 5px;
        padding: 5px;
        background-color: transparent;
        border: 0;
      }
      .name {
        height: 40px;
      }
      .email {
        height: 40px;
      }
      .message {
        height: 100px;
      }
    }
  }
}
