.mode {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  z-index: 1;
  .light-string {
    position: relative;
    transition: all 0.5s ease-in-out;
    &:hover {
        cursor: pointer;
    }
    // cursor: url(pointer.png), pointer;
    .string {
      width: 1px;
      height: 90px;
      background-color: white;
    }
    .ball {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: white;
    }
  }
  .light-hang {
    margin: 0 10px;
    .string {
      width: 1px;
      height: 70px;
      background-color: white;
      &:hover {
        height: 100px;
      }
    }
    .bulb {
      width: 50px;
      transform: rotate(180deg);
      filter: invert(100%) drop-shadow(0px 0px 3px rgb(0, 42, 255));
    }
  }
}
.lightmode {
  color: black;
}
.darkmode {
  color: white;
}
.pullStringOn {
  animation: pullStringOn 0.4s ease-in-out forwards;
  //   margin-top: -20px;
}
@keyframes pullStringOn {
  0% {
    height: 90px;
    // transform: translateX(0);
    // margin-top: 0;
  }
  50% {
    height: 110px;
    // transform: translateX(50px);
    // margin-top: -20px;
  }
  100% {
    height: 80px;
    // transform: translateX(0);
    // margin-top: 10px;
  }
}
.bulbOn {
  animation: bulbOn 0.4s ease-in-out forwards;
}
@keyframes bulbOn {
  0% {
    height: 70px;
    // transform: translateX(0);
    // margin-top: 0;
  }
  50% {
    height: 50px;
    // transform: translateX(50px);
    // margin-top: -20px;
  }
  100% {
    height: 100px;
    // transform: translateX(0);
    // margin-top: 10px;
  }
}

.pullStringOff {
  animation: pullStringOff 0.4s ease-in-out forwards;
  //   margin-top: -20px;
}
@keyframes pullStringOff {
  0% {
    height: 80px;
    // transform: translateX(0);
    // margin-top: 0;
  }
  50% {
    height: 110px;
    // transform: translateX(50px);
    // margin-top: -20px;
  }
  100% {
    height: 90px;
    // transform: translateX(0);
    // margin-top: 10px;
  }
}
.bulbOff {
  animation: bulbOff 0.4s ease-in-out forwards;
}
@keyframes bulbOff {
  0% {
    height: 100px;
    // transform: translateX(0);
    // margin-top: 0;
  }
  50% {
    height: 50px;
    // transform: translateX(50px);
    // margin-top: -20px;
  }
  100% {
    height: 70px;
    // transform: translateX(0);
    // margin-top: 10px;
  }
}
