@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
body {
  background-color: red;
  height: 100%;
}

* {
  margin: 0 auto;
}

.app {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.cards {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.cards .heading {
  margin: 20px 0;
  font-size: 100px;
  transition: all 0.5s ease-in-out;
}

.cards .tarot-container .tarot {
  position: absolute;
  top: 20%;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cards .tarot-container .tarot img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cards .tarot-container .tarot h1 {
  font-size: 40px;
}

.clicked {
  animation: flipForewards 1s ease-in-out forwards;
}

.unclicked {
  animation: flipBackwards 2s ease-in-out forwards;
}

.navCard {
  background-color: red;
}

.nav-to-top {
  height: 7%;
}

.nav-to-top .heading {
  display: none;
}

.tarot-to-nav {
  transform: translateY(-88%);
}

.tarot-to-nav:hover {
  transform: translateY(-86%);
  cursor: pointer;
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: black;
  animation: hide 1s ease-in-out 4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container .card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  animation: rotateContainer 4s linear forwards;
}

.loader-container .card-container .loader-card {
  width: 100px;
  position: absolute;
  animation: bird 4s linear infinite;
}

.loader-container .card-container .one {
  top: 0;
}

.loader-container .card-container .two {
  top: 30%;
  right: 0;
}

.loader-container .card-container .three {
  left: 0;
  bottom: 0;
}

.loader-container .card-container .four {
  top: 30%;
  left: 0;
}

.loader-container .card-container .five {
  right: 0;
  bottom: 0;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-120deg);
  }
  66% {
    transform: rotate(-240deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bird {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

h1 {
  font-family: 'Zen Loop', cursive;
  font-style: italic;
}

.mode {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  z-index: 1;
}

.mode .light-string {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.mode .light-string:hover {
  cursor: pointer;
}

.mode .light-string .string {
  width: 1px;
  height: 90px;
  background-color: white;
}

.mode .light-string .ball {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
}

.mode .light-hang {
  margin: 0 10px;
}

.mode .light-hang .string {
  width: 1px;
  height: 70px;
  background-color: white;
}

.mode .light-hang .string:hover {
  height: 100px;
}

.mode .light-hang .bulb {
  width: 50px;
  transform: rotate(180deg);
  filter: invert(100%) drop-shadow(0px 0px 3px #002aff);
}

.lightmode {
  color: black;
}

.darkmode {
  color: white;
}

.pullStringOn {
  animation: pullStringOn 0.4s ease-in-out forwards;
}

@keyframes pullStringOn {
  0% {
    height: 90px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 80px;
  }
}

.bulbOn {
  animation: bulbOn 0.4s ease-in-out forwards;
}

@keyframes bulbOn {
  0% {
    height: 70px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}

.pullStringOff {
  animation: pullStringOff 0.4s ease-in-out forwards;
}

@keyframes pullStringOff {
  0% {
    height: 80px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 90px;
  }
}

.bulbOff {
  animation: bulbOff 0.4s ease-in-out forwards;
}

@keyframes bulbOff {
  0% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 70px;
  }
}

.content-container {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.content-container .about-container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.content-container .about-container .border {
  position: relative;
  width: 60%;
  height: 500px;
  top: 20%;
  left: 20%;
  margin: 0;
  border: 2px solid white;
  padding: 2%;
  border-radius: 10px;
  font-family: 'Zen Loop', cursive;
  font-style: italic;
}

.content-container .about-container .border .profile {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -25px;
  right: -25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 1s ease-in-out;
}

.content-container .about-container .border .profile .prof {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  width: 148px;
  height: 148px;
  transition: all 1s ease-in-out;
}

.content-container .about-container .border .profile .prof1 {
  position: absolute;
  top: 0px;
}

.content-container .about-container .border .profile .prof2 {
  position: absolute;
  left: 0px;
}

.content-container .about-container .border .profile .prof3 {
  position: absolute;
  right: 0;
}

.content-container .about-container .border .profile .prof4 {
  position: absolute;
  bottom: 0;
}

.content-container .about-container .border .profile:hover {
  animation: rotateContainer 4s linear 1s infinite forwards;
}

.content-container .about-container .border .profile:hover .prof {
  animation: rotateImages 4s linear 1s infinite forwards;
}

.content-container .about-container .border .profile:hover .prof1 {
  position: absolute;
  top: -134px;
}

.content-container .about-container .border .profile:hover .prof2 {
  position: absolute;
  left: -134px;
}

.content-container .about-container .border .profile:hover .prof3 {
  position: absolute;
  right: -134px;
}

.content-container .about-container .border .profile:hover .prof4 {
  position: absolute;
  bottom: -134px;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateImages {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.content-container .portfolio-container {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100px;
  height: 100px;
  background-color: green;
}

.content-container .contact-container {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 100px;
  height: 100px;
  background-color: orange;
}
/*# sourceMappingURL=App.css.map */