@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
body {
  background-color: black;
}

* {
  margin: 0 auto;
}

.app {
  position: absolute;
  width: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.cards {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.cards .heading {
  margin: 20px 0;
  font-size: 100px;
  transition: all 0.5s ease-in-out;
}

.cards .tarot-container {
  max-width: 1440px;
}

.cards .tarot-container .tarot {
  position: absolute;
  top: 25%;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cards .tarot-container .tarot:hover {
  cursor: pointer;
  transform: translateY(5%);
}

.cards .tarot-container .tarot img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cards .tarot-container .tarot h1 {
  font-size: 40px;
}

.nav-to-top {
  height: 7%;
  top: 0;
}

.nav-to-top .heading {
  display: none;
}

.tarot-to-nav {
  transform: translateY(-84%);
}

.tarot-to-nav:hover {
  transform: translateY(-82%);
  cursor: pointer;
}

@media (min-width: 768px) {
  .tarot-to-nav {
    transform: translateY(-88%);
  }
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: black;
  animation: hide 1s ease-in-out 4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container .card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  animation: rotateContainer 4s linear forwards;
}

.loader-container .card-container .loader-card {
  width: 100px;
  position: absolute;
  animation: bird 4s linear infinite;
}

.loader-container .card-container .one {
  top: 0;
}

.loader-container .card-container .two {
  top: 30%;
  right: 0;
}

.loader-container .card-container .three {
  left: 0;
  bottom: 0;
}

.loader-container .card-container .four {
  top: 30%;
  left: 0;
}

.loader-container .card-container .five {
  right: 0;
  bottom: 0;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-120deg);
  }
  66% {
    transform: rotate(-240deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bird {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

h1 {
  font-family: 'Zen Loop', cursive;
  font-style: italic;
}

.mode {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  z-index: 1;
}

.mode .light-string {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.mode .light-string:hover {
  animation: swinging 2s linear infinite;
  cursor: pointer;
}

.mode .light-string .string {
  width: 1px;
  height: 90px;
  background-color: white;
}

.mode .light-string .ball {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
}

.mode .light-hang {
  margin: 0 10px;
}

.mode .light-hang .string {
  width: 1px;
  height: 70px;
  background-color: white;
}

.mode .light-hang .string:hover {
  height: 100px;
}

.mode .light-hang .bulb {
  width: 50px;
  transform: rotate(180deg);
  filter: invert(100%) drop-shadow(0px 0px 3px #002aff);
}

.lightmode {
  color: black;
}

.darkmode {
  color: white;
}

.pullStringOn {
  animation: pullStringOn 0.4s ease-in-out forwards;
}

@keyframes pullStringOn {
  0% {
    height: 90px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 80px;
  }
}

.bulbOn {
  animation: bulbOn 0.4s ease-in-out forwards;
}

@keyframes bulbOn {
  0% {
    height: 70px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}

.pullStringOff {
  animation: pullStringOff 0.4s ease-in-out forwards;
}

@keyframes pullStringOff {
  0% {
    height: 80px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 90px;
  }
}

.bulbOff {
  animation: bulbOff 0.4s ease-in-out forwards;
}

@keyframes bulbOff {
  0% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 70px;
  }
}

@keyframes swinging {
  0% {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  40% {
    transform: rotate(7deg);
    transform-origin: top center;
  }
  66% {
    transform: rotate(-7deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top center;
  }
}

@media (max-width: 525px) {
  .mode {
    top: -20px;
  }
}

.content-container {
  position: relative;
  z-index: -1;
  width: 100%;
  background-color: aqua;
}

.content-container .about-container {
  position: relative;
  padding: 15% 0 25%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  transition: all 0.5s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px;
}

.content-container .about-container .border {
  position: relative;
  width: 60%;
  left: 10%;
  margin: 0;
  border: 2px solid white;
  padding: 2%;
  border-radius: 10px;
  font-family: 'Yeseva One', cursive;
  transition: all 0.5s ease-in-out;
  animation: floatIn 0.5s ease-in-out forwards;
}

.content-container .about-container .border .profile {
  position: absolute;
  z-index: 1;
  height: 150px;
  width: 150px;
  top: 0px;
  right: -70px;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.content-container .about-container .border .profile .prof {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  width: 148px;
  height: 148px;
  transition: all 1s ease-in-out;
}

.content-container .about-container .border .profile .prof1 {
  position: absolute;
  top: 0px;
}

.content-container .about-container .border .profile .prof2 {
  position: absolute;
  left: 0px;
}

.content-container .about-container .border .profile .prof3 {
  position: absolute;
  right: 0;
}

.content-container .about-container .border .profile .prof4 {
  position: absolute;
  bottom: -2px;
}

.content-container .about-container .border .profile:hover {
  animation: rotateContainer 4s linear infinite forwards;
  cursor: pointer;
}

.content-container .about-container .border .profile:hover .prof {
  animation: rotateImages 4s linear infinite forwards;
}

.content-container .about-container .border .profile:hover .prof1 {
  position: absolute;
  top: -134px;
}

.content-container .about-container .border .profile:hover .prof2 {
  position: absolute;
  left: -134px;
}

.content-container .about-container .border .profile:hover .prof3 {
  position: absolute;
  right: -134px;
}

.content-container .about-container .border .profile:hover .prof4 {
  position: absolute;
  bottom: -134px;
}

.content-container .about-container .border h1 {
  font-family: 'Yeseva One', cursive;
  font-size: xx-large;
}

.content-container .about-container .border p {
  margin-top: 50px;
  font-size: x-large;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateImages {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .content-container .about-container .border {
    margin: 10% 0 0;
  }
}

@media (max-width: 470px) {
  .content-container .about-container .border {
    margin: 20% 0 0;
  }
}

.content-container .portfolio-container {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.content-container .portfolio-container .item-container {
  padding-top: 10%;
  margin-left: 10%;
  width: 50%;
}

.content-container .portfolio-container .item-container .item {
  animation: floatLeft 0.5s ease-in-out forwards;
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 30px 0;
  overflow-wrap: break-word;
}

.content-container .portfolio-container .item-container .item .item-image {
  margin: 0;
  width: 40%;
  border: 2px solid black;
}

.content-container .portfolio-container .item-container .item .item-info {
  width: 40%;
  margin: 0;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-container .portfolio-container .item-container .item .item-info h1, .content-container .portfolio-container .item-container .item .item-info p, .content-container .portfolio-container .item-container .item .item-info a {
  margin: 0;
}

.content-container .portfolio-container .item-container .item-right {
  animation: floatRight 0.5s ease-in-out forwards;
  flex-direction: row-reverse;
}

.content-container .portfolio-container .item-container .item-right .item-info {
  align-items: flex-end;
}

.content-container .icons {
  position: absolute;
  width: 50%;
  left: 10%;
  top: 5%;
  animation: floatIn 0.5s ease-in-out forwards;
  display: flex;
  justify-content: space-evenly;
}

.content-container .icons i {
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}

.content-container .icons:hover {
  cursor: pointer;
}

.content-container .icons:hover .devicon-javascript-plain {
  color: #008f62;
}

.content-container .icons:hover .devicon-css3-plain-wordmark {
  color: #ffdd00;
}

.content-container .icons:hover .devicon-sass-plain {
  color: orange;
}

.content-container .icons:hover .devicon-html5-plain-wordmark {
  color: #ff3e3e;
}

.content-container .icons:hover .devicon-bootstrap-plain-wordmark {
  color: palevioletred;
}

.content-container .icons:hover .devicon-react-original-wordmark {
  color: violet;
}

.content-container .icons:hover .devicon-photoshop-line {
  color: purple;
}

.content-container .icons:hover .devicon-wordpress-plain-wordmark {
  color: #4141ff;
}

.content-container .icons .turn-lights {
  font-family: 'Zen Loop', cursive;
  font-style: italic;
  font-size: 30px;
  color: black;
  position: absolute;
  top: -50px;
}

@keyframes floatRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floatLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.content-container .contact-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50%;
  transition: all 0.5s ease-in-out;
}

.content-container .contact-container .form {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  animation: floatIn 0.5s ease-in-out forwards;
}

.content-container .contact-container .form input {
  width: 100%;
  margin-top: 10px;
  text-indent: 10px;
  padding: 5px;
  background-color: transparent;
  border: 0;
}

.content-container .contact-container .form .name {
  height: 40px;
}

.content-container .contact-container .form .email {
  height: 40px;
}

.content-container .contact-container .form .message {
  height: 100px;
}
/*# sourceMappingURL=App.css.map */