@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
body {
  background-color: #1e1e1e;
}

* {
  margin: 0 auto;
}

.app {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
}

.cards h1 {
  margin: 20px 0;
  font-size: 100px;
}

.cards .tarot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.cards .tarot-container .tarot {
  min-width: 28%;
  max-width: 250px;
  max-height: 100%;
  margin: 0 5px;
  position: relative;
}

.cards .tarot-container .tarot img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cards .tarot-container .tarot h1 {
  font-size: 40px;
  position: absolute;
  bottom: 4%;
  left: 30%;
}

.clicked {
  animation: flipForewards 1s ease-in-out forwards;
}

@keyframes flipForewards {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.expand {
  animation: expandSection 2s ease-in-out 1s forwards;
}

@keyframes expandSection {
  0% {
    background-color: transparent;
    border: none;
    max-width: 250px;
    border-radius: 5px;
    transform-origin: left center;
  }
  100% {
    background-color: black;
    border-radius: 5px;
    max-width: 800px;
    height: 500px;
    border: 5px white solid;
    transform-origin: left center;
  }
}

.unclicked {
  animation: flipBackwards 2s ease-in-out forwards;
}

@keyframes flipBackwards {
  0% {
    transform: rotateX(180deg);
    transform-origin: top center;
  }
  100% {
    transform: rotateX(-180deg);
    transform-origin: top center;
  }
}

.navCard {
  background-color: red;
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: black;
  animation: hide 1s ease-in-out 4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container .card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  animation: rotateContainer 4s linear forwards;
}

.loader-container .card-container .loader-card {
  width: 100px;
  position: absolute;
  animation: bird 4s linear infinite;
}

.loader-container .card-container .one {
  top: 0;
}

.loader-container .card-container .two {
  top: 30%;
  right: 0;
}

.loader-container .card-container .three {
  left: 0;
  bottom: 0;
}

.loader-container .card-container .four {
  top: 30%;
  left: 0;
}

.loader-container .card-container .five {
  right: 0;
  bottom: 0;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-120deg);
  }
  66% {
    transform: rotate(-240deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bird {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

h1 {
  font-family: 'Zen Loop', cursive;
  font-style: italic;
}

.mode {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
}

.mode .light-string {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.mode .light-string .string {
  width: 2px;
  height: 90px;
  background-color: white;
}

.mode .light-string .ball {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
}

.mode .light-hang {
  margin: 0 20px;
}

.mode .light-hang .string {
  width: 2px;
  height: 70px;
  background-color: white;
}

.mode .light-hang .string:hover {
  height: 100px;
}

.mode .light-hang .bulb {
  width: 30px;
  transform: rotate(180deg);
  filter: invert(100%) drop-shadow(4px 4px 10px #002aff);
}

.lightmode {
  color: black;
}

.darkmode {
  color: white;
}

.pullStringOn {
  animation: pullStringOn 0.4s ease-in-out forwards;
}

@keyframes pullStringOn {
  0% {
    height: 90px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 80px;
  }
}

.bulbOn {
  animation: bulbOn 0.4s ease-in-out forwards;
}

@keyframes bulbOn {
  0% {
    height: 70px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}

.pullStringOff {
  animation: pullStringOff 0.4s ease-in-out forwards;
}

@keyframes pullStringOff {
  0% {
    height: 80px;
  }
  50% {
    height: 110px;
  }
  100% {
    height: 90px;
  }
}

.bulbOff {
  animation: bulbOff 0.4s ease-in-out forwards;
}

@keyframes bulbOff {
  0% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 70px;
  }
}
/*# sourceMappingURL=App.css.map */