body {
  background-color: black;
  // height: 100%;
}
* {
  margin: 0 auto;
}
.app {
  position: absolute;
  width: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  // background-color: black;
  //   cursor: url(cursor.png), auto;
}
@import "./Styling/Variables";
@import "./Styling/Nav";
@import "./Styling/Loader";
@import "./Styling/Typography";
@import "./Styling/Mode";
@import "./Styling/About";
@import "./Styling/Portfolio";
@import "./Styling/Contact";
